.navbar{
    background-color: #e7f0b7;
    box-shadow: 10px 10px 5px rgb(121, 121, 121);
    border-radius: 10px;
}
.logOutButton{
    align-self: flex-end;
}
.icon{
    width: 200px;
    background-repeat: no-repeat;
}
